
/* The code on lines 3-7 makes the background of the header black and the text of the title of the webpage white. Change this to match what you want for your website! a*/
header {
    background-color: #373b77;
    color: white;
    padding: 50px 16px;
  font-size: 35px;
 display: flex;
font-size: 30px;}

 
p1 {font-size: 20px;
   font-family: san serif;
}

p2 {font-size: 20px;
   font-family: bold sans-serif;}



img {border: 5px dotted #373b77;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    padding: 2px;}